@media screen and (max-width:1500px) {
	.box2{
		    /* height: 19vh; */
    margin-top: 26px;
	}
	.inp{
		    height: 57px;
	}
}
@media screen  and (max-width: 500px) {
	.box2{
		width: 222px;
	}
	.inp{
		    width: 199px;
	}
	#btn{
		width: 200px;
	}
}